@tailwind base;
@tailwind components;
@tailwind utilities;
/* @import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap'); */

/* colors */
.second_bg_color{
    background-color: #252D3A;
}

.second_color{
    color: #252D3A;
}

.third-color{
    background-color: #272D43;
}

.fourth_bg_color{
    background-color: #33394F;
}

.fourth_color{
    color: #33394F;
}

.brown_color{
    color: #8D8080;
}
.primary-first-bg-color{
    background-color: #FC728B;
}
.primary-first-color{
    background-color: #FC728B;
}

.light-first-bg-color{
    background-color: #D1CAFF;
}
.light-first-color{
    color: #D1CAFF;
}

*{
    font-family: "Comfortaa", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

body{
    background-color: #202433;
}


.bells-shadow{
    padding: 5px;
    box-shadow:  -5px -5px 0px #FC728B;
    border-radius:50%;
}